PORT=8000
APP_URL=
NODE_ENV="development"
DATABASE_URL=""

# GOOGLE AUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URL=""

# Sentry
DSN=""


# tokens
JWT_SECRET=""

# cloudinary
CLOUDINARY_CLOUD_NAME='',
CLOUDINARY_API_KEY='',
CLOUDINARY_API_SECRET='' 

CLOUDINARY_URL=""


GOOGLE_GEMINI_API_KEY=""